/*  your css code here. If applicable */
#yellow{
	background-color:"yellow";
	border:"1px solid green"
}
#red{
	background:"yellow";
	border:"1px solid black"
}
#green{
	background:"yellow";
	border:"1px solid yellow"
}